flask
flask_socketio
flask_cors
pymongo
backoff
dashscope
google.generativeai
openai
anthropic
pyjwt
tiktoken
jsonwebtoken
boto3
groq
awscli
geoip2
timeout_decorator
loguru
litellm
bcrypt
psycopg2
redis
apscheduler
flask_cors
psycopg2
litellm
loguru
gymnasium
pydrive
requests_toolbelt
formulas
xmltodict
borb
easyocr
odf
#opencv-python==4.8.1
