.iframe-container {
  position: relative;
  width: 100%; /* 或者你希望的宽度 */
  padding-top: 56.25%; /* 保持4:3宽高比 */
  margin: 0 0; /* 如果你想要它居中 */
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
}

.iframe-container.drag-over {
  border: 3px dashed #8b5cf6;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: "hidden";
}

.fixed-iframe-left {
  position: fixed;
  bottom: 18vw; /* 距离底部10px */
  left: 1%; /* 距离左侧10px */
  width: 25%; /* 宽度为视窗宽度的50% */
  z-index: 1000; /* 确保悬浮在其他组件上方 */
}

.fixed-iframe-right {
  position: fixed;
  bottom: 1%; /* 距离底部10px */
  left: 1%; /* 距离左侧10px */
  width: 25%; /* 宽度为视窗宽度的50% */
  z-index: 1000; /* 确保悬浮在其他组件上方 */
}
